.symbol {
  font-size: 50px;
  margin-right: 5px;
}

.symbol_current {
  text-decoration: underline;
  color: #333;
}

.symbol_correct {
  color: green;
}

.word_incorrect {
  background: red;
  color: #fff;
}

.status p {
  display: inline-block;
  margin-right: 20px;
}

#timer {
  font-weight: bold;
}
